In [2]:
import pandas as pd
import numpy as np
import re

data = pd.read_csv('data/train.csv')

In [4]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
m = data[data.Sex == 'male']
f = data[data.Sex == 'female']
print(m['Sex'].count(), f['Sex'].count())

pattern = re.compile('\w+')
pattern.findall

577 314

In [7]:
surv = data[data.Survived == 1]
surv_count = surv['Survived'].count()
print(surv_count)
total = data['Survived'].count()
print(total)
surv_percent = (surv_count/total)*100
print(round(surv_percent, 2))

342
891
38.38

In [8]:
class1 = data[data.Pclass == 1]
class1_part = round((class1['Pclass'].count()/total)*100, 2)
print(class1_part)

24.24

In [9]:
age_mean = round(data['Age'].mean(), 2)
age_median = round(data['Age'].median(), 2)
print(age_mean, age_median)

29.7 28.0

In [10]:
round(data['SibSp'].corr(data['Parch']), 3)

0.41499999999999998

In [11]:
x = [r.split(',')[1] for r in f.Name]
x = pd.Series(x)
x[:10]

0     Mrs. John Bradley (Florence Briggs Thayer)
1                                    Miss. Laina
2             Mrs. Jacques Heath (Lily May Peel)
3       Mrs. Oscar W (Elisabeth Vilhelmina Berg)
4                    Mrs. Nicholas (Adele Achem)
5                           Miss. Marguerite Rut
6                                Miss. Elizabeth
7                    Miss. Hulda Amanda Adolfina
8                        Mrs. (Mary D Kingcome)
9       Mrs. Julius (Emelia Maria Vandemoortele)
dtype: object

In [12]:
x = [r.replace('(', '').replace(')','').replace('Mrs.','').replace('Miss.','').replace('"','') for r in x]
nn = pd.Series(x)
nn.str.strip()
u_name = pd.Series(nn.str.strip()).str.split(' ')

In [13]:
u_name.tail()

309    [William, Imanita, Parrish, Hall]
310                      [Gerda, Ulrika]
311          [William, Margaret, Norton]
312                    [Margaret, Edith]
313           [Catherine, Helen, Carrie]
dtype: object